@import "colors";

#randomInt {
  background-color: $main;
  border: 1px solid black;
  color: white;
  padding: 5px;
  font-size: 1em;
}

#randomRange {
  background-color: $secondary;
  border: 1px solid black;
  color: white;
  padding: 5px;
  font-size: 1em;
}

body{
    margin-top: 10%;
    text-align: center;
    background-color: antiquewhite;
}

h1{
    font-size: 3em;
    font-variant: small-caps;
}