@import "colors";

body{
  margin: 0.3%;
  text-align: center;
  background-color: antiquewhite;
  font-size: 1em;
}
#randomInt {
  background-color: $main;
  border: 1px solid black;
  color: white;
  padding: 5px;
  font-size: 1em;
}

#randomRange {
  background-color: $secondary;
  border: 1px solid black;
  color: white;
  padding: 5px;
  font-size: 1em;
}

h1{
    font-size: 3em;
    font-variant: small-caps;
}